# virtual environments
venv/
.venv/
env/
.env/

#  RAW DATA 
datasets/vudenc/raw/**           
!datasets/vudenc/raw/**/         
!datasets/vudenc/raw/.gitkeep
!datasets/vudenc/raw/output_formats.md

#  PREPARED DATA
datasets/vudenc/processed/**       
!datasets/vudenc/processed/**/      
!datasets/vudenc/processed/.gitkeep 

#  SPLITS
datasets/vudenc/splits/**       
!datasets/vudenc/splits/**/      
!datasets/vudenc/splits/.gitkeep 

#  OTHER LARGE / ONE-OFF DUMPS
datasets/raw/*.jsonl
datasets/csn/csn_negatives.jsonl

# GRAPH-CREATED DATA
datasets/vudenc/prepared/**
!datasets/vudenc/prepared/**/      
!datasets/vudenc/prepared/.gitkeep 

src/comparison/command_injection
src/comparison/open_redirect
src/comparison/path_disclosure
src/comparison/remote_code_execution
src/comparison/sql
src/comparison/xsrf
src/comparison/xss
src/comparison/command_injection_bandit
src/comparison/open_redirect_bandit
src/comparison/path_disclosure_bandit
src/comparison/remote_code_execution_bandit
src/comparison/sql_bandit
src/comparison/xsrf_bandit
src/comparison/xss_bandit

# BANDIT DATA
**/*_bandit/

# LOGS
logs/

#  PYTHON / BUILD ARTIFACTS
__pycache__/
*.py[cod]


#  SYSTEM / EDITOR RUBBISH
*.DS_Store
*.log
