# Ignore all files in raw except .gitkeep
datasets/vudenc/raw/*
!datasets/vudenc/raw/.gitkeep

# Ignore large JSONL files
datasets/raw/*.jsonl
datasets/processed/*.jsonl

# Ignore system/editor files
*.DS_Store
*.log

# Ignore Python artifacts
__pycache__/
*.py[cod]
